:root {
    --background: #ffffff;
    --otherColor: #cecece;
    --textColor: rgb(0, 0, 0);
    }
.darkMode {
    --background: #121212;
    --otherColor: #1e1e1e;
    --textColor: #ffffff;
    }
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--background);
    color: var(--textColor);
    }
h1 {
    font-size: 60px;
    font-weight: 500;
    }
h2 {
    font-size: 35px;
    font-weight: 500;
    }
p {
    font-size: 20px;
    }
hr {
    border: 0.5px solid var(--textColor);
    }
img {
    float: left;
    }
ul {
    font-size: 20px;
    text-align: left;
    display: inline-block;
    }

#theme-switch{
    height: 50px;
    width:50px;
    padding: 0px;
    border-radius: 50%;
    background-color: var(--otherColor);
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch svg{
    fill: var(--textColor)
}
#theme-switch svg:last-child{
    display: none;
}
.darkMode #theme-switch svg:first-child{
    display: none;
}
.darkMode #theme-switch svg:last-child{
    display: block;
}